{% extends "recipe.html" %}

{% block recipe_title %}
<h1>Banana Bread</h1>
{% endblock %}

{% block recipe_description %}
<h2>Description</h2>
<p>This banana bread recipe is gluten-free, nutritious, and delicious!</p>
<p>This banana bread uses almond flour and gluten-free oat flour, which gives a great texture, but don't expect the bread to rise very much (it's a shallow bread).</p>
<p>I enjoy eating this banana bread with breakfast or as an afternoon snack!</p>
{% endblock %}

{% block recipe_image %}
<img src="{{ url_for('static', filename='img/banana_bread.jpg') }}" alt="Banana Bread" />
{% endblock %}

{% block recipe_tips %}
<h2>Tips</h2>
<p>I don't keep oat flour in my pantry, so I used gluten-free rolled oats and grind them up in a high-speed blender for about a minute to make oat flour.</p>
<p>This banana bread needs to sit for at least 20 minutes before cutting/eating, as it comes out of the oven too hot to cut.</p>
<p>Using parchment paper in the bread pan makes taking the banana bread out of the pan very easy.</p>
{% endblock %}

{% block recipe_ingredients %}
<h2>List of Ingredients</h2>
<ul>
<li>2 ripe bananas</li>
<li>1 tablespoon of maple syrup (or agave nectar)</li>
<li>3/4 cup of oat flour</li>
<li>6 tablespoons of almond flour (recommendation: <a href="https://www.bobsredmill.com/almond-meal-flour.html]">Bob's Red Mill - Almond Flout</a>)</li>
<li>1 teaspoon of cinnamon (ground)</li>
<li>1.5 teaspoons of baking powder</li>
<li>1/4 teaspoon of salt</li>
</ul>
{% endblock %}

{% block recipe_steps %}
<h2>Recipe Steps</h2>
<ol>
<li>Preheat the oven to 350 degrees (F).</li>
<li>Cut parchment paper to fit into a small bread loaf pan (approximately 8" x 5" loaf pan).</li>
<li>In a medium mixing bowl, mash the bananas with a fork or a potato masher until smooth.</li>
<li>Add the maple syrup to the bowl and mix to combine (with a wooden spoon).</li>
<li>Add the dry ingredients (oat flour, almond flour, baking powder, salt) to the bowl and mix to combine.</li>
<li>Pour the batter into the loaf pan (with the parchment paper already in the pan) and spread out to an even layer (it will be a thin bread).</li>
<li>Bake for 60 minutes.</li>
<li>Let the bread rest for at least 20 minutes before cutting. Enjoy!</li>
</ol>
{% endblock %}
