{% extends "recipe.html" %}

{% block recipe_title %}
<h1>Fruit Salad</h1>
{% endblock %}

{% block recipe_description %}
<h2>Description</h2>
<p>I love having a fruit salad as a side dish with lunch or an afternoon snack.</p>
<p>Fruit salads are best to make in the spring and summer when fresh fruit is in season.</p>
{% endblock %}

{% block recipe_image %}
<img src="{{ url_for('static', filename='img/fruit_salad.jpg') }}" alt="Fruit Salad" />
{% endblock %}

{% block recipe_tips %}
<h2>Tips</h2>
<p>I like having a very liquid-y fruit as the base of my fruit salad, so pineapple or watermelon are my favorite base fruits for this salad.  The extra liquid from these fruits help to </p>
<p>Pick your favorite fruits to add to a fruit salad!</p>
{% endblock %}

{% block recipe_ingredients %}
<h2>List of Ingredients</h2>
<h4>Fresh Fruit ... options:</h4>
<ul>
<li>Watermelon</li>
<li>Pineapple</li>
<li>Blueberries</li>
<li>Strawberries</li>
<li>Grapes</li>
<li>Peaches</li>
<li>Nectarines</li>
<li>Apples</li>
<li>Pears</li>
</ul>
{% endblock %}

{% block recipe_steps %}
<h2>Recipe Steps</h2>
<ol>
<li>Cut up fruit into bite-sized pieces and place in a serving bowl or individual bowls.</li>
<li>After all the fruit is cut up, mix the fruit pieces together to get the natural fruit juices to mix with all the fruit.</li>
<li>Enjoy right away or store in the refrigerator for up to 2 days!</li>
</ol>
{% endblock %}
