{% extends "recipe.html" %}

{% block recipe_title %}
<h1>Morning Glory Muffins</h1>
{% endblock %}

{% block recipe_description %}
<h2>Description</h2>
<p>Morning Glory Muffins are delicious and such a treat to have for breakfast or as a snack.</p>
<p>The combination of shredded carrots and raisins works so well in these muffins, as the outside is slightly crunchy but the inside is soft and moist.</p>
<p>This recipe is adapted from the <a href="https://www.marthastewart.com/339779/morning-glory-muffins">Morning Glory Muffins recipe from Martha Stewart</a>.</p>
<p>A lot of recipes for Morning Glory Muffins include additional fillings like shredded apples, coconut flakes, almonds, and/or walnuts.  Feel free to include any fillings that you enjoy!</p>
{% endblock %}

{% block recipe_image %}
<img src="{{ url_for('static', filename='img/morning_glory_muffins.jpg') }}" alt="Morning Glory Muffins" />
{% endblock %}

{% block recipe_tips %}
<h2>Tips</h2>
<p>Add a small amount of rolled oats to the top of each muffin before putting them into the oven for a crunchy topping.</p>
<p>After baking for 23 minutes, poke a toothpick into the tallest muffin and check that it comes out clear to make sure the muffins are baked all the way through.</p>
{% endblock %}

{% block recipe_ingredients %}
<h2>List of Ingredients</h2>
<ul>
<li>1.25 cups of All-Purpose Flour</li>
<li>0.5 cups of Dark Brown Sugar</li>
<li>0.5 teaspoons of Baking Powder</li>
<li>0.5 teaspoons of Baking Soda</li>
<li>0.5 teaspoons of Salt</li>
<li>0.5 teaspoons of Ground Nutmeg</li>
<li>0.5 teaspoons of Cinnamon</li>
<li>1 cup of Rolled Oats</li>
<li>1 cup of Raisins</li>
<li>3 Tablespoons of Extra-Virgin Olive Oil</li>
<li>1 Large Egg</li>
<li>0.5 cups of Almond Milk</li>
<li>1.5 cups of Finely Shredded Carrots</li>
</ul>
{% endblock %}

{% block recipe_steps %}
<h2>Recipe Steps</h2>
<ol>
<li>Preheat the oven to 400 degrees (F).</li>
<li>Add baking cups to a 12-cup muffin pan.</li>
<li>In a large bowl, mix together the flour, brown sugar, baking soda, baking powder, nutmeg, cinnamon, and salt until there are no lumps.</li>
<li>Stir in oats and raisins.</li>
<li>Add all the wet ingredients (olive oil, egg, almond milk, and shredded carrots) and mix until blended.</li>
<li>Fill each muffin cup about 3/4 full with the batter.</li>
<li>Bake for 23 minutes, until a toothpick inserted in center of a muffin comes out clean.</li>
<li>Let the muffins cool for at least 10 minutes before serving; store the muffins in an air-tight container for up to 3 days.</li>
</ol>
{% endblock %}
